<%- include('./layout/header')%>

<div class="container">
    <div class="panel panel-info">
        <!-- Default panel contents -->
        <div class="panel-heading">文章列表</div>
        <div class="list-group">
            <% article.forEach(function(item){ %>
                <a class="list-group-item" href="/article/info?id=<%= item.id%>">
                    <span class="badge"><%= item.ctime %></span>
                    <%= item.title %>
                </a>
            <% }); %>
        </div>
    </div>
</div>

<%- include('./layout/footer')%>
